In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("weight-height.csv")

# 1. Import data set

In [3]:
df.head()

  Gender     Height      Weight
0   Male  73.847017  241.893563
1   Male  68.781904  162.310473
2   Male  74.110105  212.740856
3   Male  71.730978  220.042470
4   Male  69.881796  206.349801

# 2. Separate X and Y. (y=Gender)

In [9]:
x=df.drop(['Gender'], axis=1)

In [10]:
x.head()

      Height      Weight
0  73.847017  241.893563
1  68.781904  162.310473
2  74.110105  212.740856
3  71.730978  220.042470
4  69.881796  206.349801

In [15]:
y=df[['Gender']]

In [16]:
y.head()

  Gender
0   Male
1   Male
2   Male
3   Male
4   Male

# 3. Train = 70%, Test = 30%

In [18]:
from sklearn.model_selection import train_test_split
xtrain, xtest, ytrain, ytest = train_test_split(x, y, test_size=0.30)

# 4. Apply KNN Classifier

In [19]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors=3)

In [20]:
knn.fit(xtrain,ytrain)

C:\Users\Shimul\anaconda3\Lib\site-packages\sklearn\neighbors\_classification.py:228: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

KNeighborsClassifier(n_neighbors=3)

In [21]:
ytest['Gender Predict'] = knn.predict(xtest)

In [22]:
ytest

      Gender Gender Predict
6174  Female         Female
863     Male           Male
4605    Male           Male
2332    Male           Male
977     Male           Male
...      ...            ...
6114  Female         Female
4873    Male           Male
4778    Male           Male
7935  Female         Female
6305  Female         Female

[2567 rows x 2 columns]

In [23]:
ytest = ytest.drop('Gender Predict', axis=1)

# 5. Evaluate the Model by only Accuracy.

In [24]:
knn.score(xtrain, ytrain)

0.9412157648630595

In [25]:
knn.score(xtest, ytest)

0.9045578496299181